

@{
    ViewData["Title"] = "AuditView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Task3.Models.ClientQueryInfo;

<form asp-action="SubmitForm" method="post">
    <div>
        <label asp-for="CardNumber">Card Number:</label>
        <input asp-for="CardNumber" />
        <span asp-validation-for="CardNumber"></span>
    </div>
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname">Surname:</label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="ConfirmationCode">Confirmation Code:</label>
        <input asp-for="ConfirmationCode" />
        <span asp-validation-for="ConfirmationCode"></span>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>




@if (Model != null)
{
    <p>The input is incorrect! Please fix the issues noted.</p>
    
    <!-- Display other client information as needed -->
}
